body {
    margin: 0;
    padding: 0;
    font-family: "Onest", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F5F5F7;
    color: #0f0f0f;
}