body {
    margin: 0;
    padding: 0;
    font-family: "Onest", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
}